<!--<div>
    <app-liste-medecin [medecins]="listeDeMedecins" (medecinSelectionne)="onMedecinSelectionne($event)"></app-liste-medecin>
    <app-profil-medecin [medecinSelectionne]="medecinSelectionne"></app-profil-medecin>
</div>
-->
<div class="Box-sc-14d2slk-0 jNvkDG">
    <button type="button" data-test="contact-us-dropdown-button" class="sc-jhlPcU sc-faJNnW iQvYAI huFJiG">
        <span>Aide et avis</span><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" viewBox="0 0 48 48" class="sc-gvZAcH gpxQSn">
            <path fill="currentColor" fill-rule="evenodd" d="M38.294 16.312a1 1 0 0 1 1.413 1.415L26.47 30.937a3.5 3.5 0 0 1-4.948-.002L8.292 17.707a1 1 0 1 1 1.415-1.414l13.23 13.228a1.5 1.5 0 0 0 2.12 0l13.237-13.209Z" clip-rule="evenodd">
            </path>
        </svg>
    </button>
</div>